<!-- Inherits value of base.html -->
{% extends "base.html" %}
<!-- Homepage will be replace by block content -->
{% block title %}Index{% endblock %}


{% block content %}

<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<image src="https://images.unsplash.com/photo-1450387635522-8ecb968079bf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjF9&auto=format&fit=crop&w=1522&q=80"
	height=450 width=100%></image>

	<hr></hr>
	<div>
		<p>                              
		</p>
	</div>
	

	<div class="card-deck">
		<div class="card">
			<img src="https://image.shutterstock.com/image-vector/logo-brush-painted-watercolor-background-600w-500062756.jpg" class="card-img-top" alt="..."  width="50">
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
			</div>
			<div class="card-footer">
				<small class="text-muted">Last updated 3 mins ago</small>
			</div>
		</div>
		<div class="card">
			<img src="https://image.shutterstock.com/image-vector/logo-brush-painted-watercolor-background-600w-500062756.jpg" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
			</div>
			<div class="card-footer">
				<small class="text-muted">Last updated 3 mins ago</small>
			</div>
		</div>
		<div class="card">
			<img src="https://image.shutterstock.com/image-vector/logo-brush-painted-watercolor-background-600w-500062756.jpg" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
			</div>
			<div class="card-footer">
				<small class="text-muted">Last updated 3 mins ago</small>
			</div>
		</div>
	</div>


</body>
</html>


{% endblock %}
